<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751817212564-hc3qk0e4t87tk9mb28bncpi407clc3qe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751817212564-hc3qk0e4t87tk9mb28bncpi407clc3qe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>751817212564-fqc8mevop2amemp76vfrie7l9c7m8lo4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBx8LRG1q3DQhGaaYCSXmLDdcJSgTpgh9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>751817212564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matchmakingpv.app</string>
	<key>PROJECT_ID</key>
	<string>aura-4ac14</string>
	<key>STORAGE_BUCKET</key>
	<string>aura-4ac14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751817212564:ios:6047d77d01c08f8e4cea81</string>
	<key>DATABASE_URL</key>
	<string>https://aura-4ac14-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>